@mixin left-side-line {
  &:before {
    position: absolute;
    width: 50px;
    height: 2px;
    content: " ";
    background-color: #dddddd;
    top: 50%;
    margin-right: 10px;
    right: 100%;
  }
}
@mixin transition-box {
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.one-side-heading-line {
  position: relative;
  color: $primary;
  letter-spacing: 2px;
  font-weight: 600;
  display: inline-block;

  &:after {
    position: absolute;
    width: 50px;
    height: 2px;
    content: " ";
    background-color: #dddddd;
    top: 50%;
    margin-left: 10px;
    left: 100%;
  }

  &.two-line {
    @include left-side-line;
  }
}
.border-md-left {
  @include media-breakpoint-up(md) {
    border-left: 1px solid;
  }
}
.border-lg-left {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid;
  }
}
.transform-50-up {
  transform: translateY(-50%);
}
.cursor-pointer {
  cursor: pointer;
}

.corpo_company_banner,
.corpo_transport_banner {
  .carousel-inner {
    .carousel-item {
    }
  }
}
.corpo_company_banner,
.corpo_transport_banner,
.corpo_construct_banner,
.corpo_medical_banner {
  .carousel-control-next {
    right: 10px;
  }
  .carousel-control-prev {
    left: 10px;
  }
}

.corpo_banner_features_section,
.transport_banner_features_section {
  .row {
    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
      //margin-top: -60px;
    }
  }
  .feature-box {
    //background-color: $secondary !important;
    @include transition-box;

    &:hover {
      background-color: $primary !important;

      div,
      h6 {
        color: #fff !important;
      }
    }

    .indi-content {
      @media (max-width: 767.98px) {
        padding-left: 20px;
      }
      p {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }
  }
}
.corpo_banner_features_section {
  .feature-box {
    background-color: #f7f7f7;
  }
}
.transport_banner_features_section {
  .feature-box {
    background-color: #efefef;
  }
}

.corpo_comapany_services,
.corpo_comapany_testimonial,
.corpo_transport_services {
  .carousel-indicators {
    bottom: -15px;
    left: 0;
    width: fit-content;
    margin: 0;

    li {
      background-color: $primary;
      width: 10px !important;
      height: 10px !important;
      border: 0 !important;
      border-radius: 100% !important;

      @include transition-box;

      &.active {
        width: 20px !important;
        border-radius: 10px !important;
      }
      &:hover {
        background-color: $primary !important;
      }
    }
  }
}
.corpo_transport_testimonial {
  .carousel-inner {
    .testimonial-box {
      img {
        max-width: 70px;
      }
    }
  }
  .carousel-indicators {
    bottom: -30px;
    left: 0;
    margin: 0;

    li {
      background-color: $primary;
      width: 10px !important;
      height: 10px !important;
      border: 0 !important;
      border-radius: 100% !important;

      @include transition-box;

      &.active {
        width: 20px !important;
        border-radius: 10px !important;
      }
      &:hover {
        background-color: $primary !important;
      }
    }
  }
}
.corpo_comapany_testimonial {
  .testimonial_carousel {
    .carousel-item {
      .testimonial_block {
        .block_client {
          padding-left: 60px;

          .left-line {
            position: relative;
            font-size: 14px;
            letter-spacing: 1.5px;

            @include left-side-line;
          }
        }
      }
    }
  }
}

.corpo_construct_banner {
  .carousel-control-prev,
  .carousel-control-next {
    > span:not(.o_default_snippet_text) {
      &:before {
        padding: 1rem !important;
        width: 3rem;
        height: 3rem;
        background-color: #c9c9c9bf;
        border: 1px solid #fff;
        @include transition-box;
      }

      &:hover {
        &:before {
          background-color: $primary;
        }
      }
    }
  }
}
@mixin corpo-overlay {
  z-index: 10;
  .images-block {
    position: relative;

    .image-content {
      a {
        margin-left: auto;
      }
      span {
        opacity: 0;
        visibility: hidden;
      }
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      z-index: 2;
      align-items: center;
      @include transition-box;
    }
    .overlay {
      position: absolute;
      background-color: #121212;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      pointer-events: none;
      @include transition-box;
    }

    &:hover {
      .image-content {
        span {
          opacity: 1;
          visibility: visible;
        }
      }
      .overlay {
        background-color: $primary;
        opacity: 0.8;
      }
    }
  }
}
.corpo_construct_projects {
  .project-images {
    @include corpo-overlay;
  }
}
.corpo_medical_services {
  background-color: #f6f6f6;
  @include corpo-overlay;
  .images-block {
    @include transition-box;
    a {
      position: unset !important;
    }
    &:hover {
      transform: translateY(-20px);
    }
    .image-content {
      a {
        color: #fff !important;
        text-decoration: none;
      }
    }
  }
}

.corpo_construct_choose_us {
  @include media-breakpoint-up(lg) {
    margin-top: -170px;
    padding-top: 170px !important;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -240px;
    padding-top: 240px !important;
  }
}
.corpo_construction_owner_message {
  z-index: 2;
}
.corpo_construction_counter_number {
  @include media-breakpoint-up(md) {
    margin-top: -240px;
    padding-top: 300px !important;
  }
}
.corpo_construction_clients {
  background-color: #f6f6f6;
  .clients-carousel {
    .carousel-inner {
      .carousel-content {
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      bottom: -15%;
      > span:not(.o_default_snippet_text) {
        &:before {
          border-radius: 100%;
        }
      }
    }
    .carousel-control-prev {
      left: 25%;
    }
    .carousel-control-next {
      right: 25%;
    }
  }
}

.corpo_medical_about {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    .about-image {
      position: absolute;
      left: 70%;
      transform: translateY(-50%);
      top: 50%;
      max-width: 100%;

      img {
        max-width: 70%;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .about-image {
      img {
        max-width: 50%;
      }
    }
  }
}
.editor_enable {
  .corpo_medical_about {
    @include media-breakpoint-up(md) {
      .about-image {
        position: unset;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.corpo_medical_department {
  .department-box {
    @include transition-box;
    &:hover {
      background-color: $primary !important;
      border-color: $primary !important;
      span,
      .box-title,
      p {
        color: #fff !important;
      }
    }
  }
}
.corpo_medical_appointment {
  .s_website_form {
    input.form-control {
      &::placeholder {
        color: #fff !important;
      }
    }
  }
}
.corpo_medical_doctors {
  background-color: #f6f6f6;
  .s_carousel_wrapper {
    .doctor-box {
      border-bottom: 4px solid $primary;
      .image {
        position: relative;
        img {
        }
        .social-icons {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
          @include transition-box;

          a {
            width: 40px;
            height: 40px;
            span {
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 35px;
              border: 3px solid $primary;
            }
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          @include transition-box;
        }
      }
      .data {
      }
      &:hover {
        .image {
          .social-icons {
            opacity: 1;
            visibility: visible;
            a {
              span {
                transition: 0.3s ease-in-out;
              }
              &:hover {
                span {
                  background-color: $primary;
                }
              }
            }
          }
          .overlay {
            background-color: #181818;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.corpo_medical_clients {
  .carousel-item {
    .details {
    }
    .client-detail {
      margin-top: -60px;

      img {
        max-width: 120px;
      }
    }
  }
}

.corpo_home_banner {
  .carousel-indicators {
    top: 50% !important;
    transform: translateY(-50%);
    right: 20px !important;
    display: block !important;
    left: unset !important;
    margin: 0;
    height: fit-content;

    li {
      width: 10px !important;
      height: 10px !important;
      border: 0 !important;
      border-radius: 100% !important;
      @include transition-box;

      &.active {
        height: 20px !important;
        border-radius: 25px !important;
        background-color: $primary;
      }
      &:hover {
        background-color: $primary !important;
      }
    }
  }
}
.corpo_home_about {
  .left-image {
    position: relative;

    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        background-color: #fff;
        color: $primary;
        padding: 50px;
        border-radius: 50%;
        line-height: 1;
        @include transition-box;
        &:hover {
          background-color: $primary;
          color: #fff;
        }
      }
    }
  }
}
.corpo_home_cases {
  .cases_carousel {
    .carousel-indicators {
      left: 50px;
      right: unset;
      bottom: 50px;
      @media (max-width: 767.98px) {
        bottom: unset !important;
        top: 55%;
      }
      li {
        width: 10px !important;
        height: 10px !important;
        border: 0 !important;
        border-radius: 100% !important;

        &.active {
          width: 12px !important;
          height: 12px !important;
        }
      }
    }
    .carousel-item {
      position: relative;
      .project-detail {
        padding: 100px 80px 100px 50px;
      }
      .project-image {
        @include media-breakpoint-up(md) {
          margin-left: -70px;

          img {
            max-width: 90% !important;
          }
        }
      }
    }
  }
}

.corpo_home_testimonial {
  .home_testimonial_carousel {
    .carousel-item {
      .testimonial-box {
        .clients-detail {
          img {
            max-width: 70px;
          }
        }
      }
    }
    .carousel-indicators {
      margin: 0;
      bottom: -40px;
      li {
        height: 4px !important;

        &.active {
          background-color: $primary;
        }
      }
    }
  }
}
