@mixin transition-box{
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.consult-two-banner{
    @media (max-width: 767px){
        padding-top: 0 !important;
        .carousel-item{
            padding-top: 120px !important;
            padding-bottom: 120px !important;
        }
    }
    .banner_content{
        position: relative;
        .banner_content_detail{
            z-index: 2;
            .welcome_text{
                background-color: rgba(232,219,219,0.4);
                border-radius: 6px;
            }
        }
    }
}
.consult-two-design{
    padding: 120px 0;
    @media (max-width: 767.98px){
        padding: 64px 0;
    }
    .design_content{
        border-radius: 10px;
        // background-color: #ffffff;
        box-shadow: 0 20px 50px 0 rgba(2, 0, 40,0.1);
        background-image: url('/theme_nextbiz/static/src/img/consultpage1_feature1.jpg');
        @include transition-box;
        .design-icon{
            color: $primary;
        }
        .detail{
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: -1px;
            right: -1px;
            opacity: 1;
            border-radius: 10px;
            @include transition-box;
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.design-icon,p {
           @include transition-box;
        }
        .o_we_bg_filter{
            opacity: 0;
            border-radius: 10px;  
            @include transition-box;
             
        }
        .next_btn{
            // @include transition-box;
        }
        &:hover{
            background-color: unset;           
            color: #ffffff;
            .detail{
                opacity: 0;
            }
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.design-icon,p {
                color: #ffffff !important;
            }
            .o_we_bg_filter{
                opacity: 1;
            }
        }
    }
}
.editor_enable{
    
}
.consult-two-faq{
    background-color: #f8f7fd;
    padding: 120px 0;
    @media (max-width: 767.98px){
        padding: 64px 0;
    }
    .s_faq_collapse{
        .card{
            border: none !important;
            overflow: visible !important;
            .card-header{
                border-radius: 10px !important;               
                font-size: 18px;
                font-weight: 700;
                padding: 15px 23px !important;
                position: relative;
                color: unset;
            }
            .card-header.collapsed:before{
                content: "\e61a" !important;
                font-family: 'themify' !important;
                position: absolute;
                right: 23px;
                transition: 0.5s;
                transform:rotate(180deg);
                color: #6C757D !important;
            }
            .card-header:before{
                content: "\e622" !important;
                font-family: 'themify' !important;
                position: absolute;
                right: 23px;
                transition: 0.5s;
                transform:rotate(-180deg);
                color: #490ebe !important;
            }
            .card-header.collapsed{
                border: 2px solid #dddae9;
            }
            .card-header:not(.collapsed){
                border: 2px solid #ffffff;
                background: #ffffff !important;
                box-shadow: 0 30px 40px 0 rgba(2, 0 ,40,0.1) !important;
            }
            .card-body{
                padding: 32px !important;
                background-color: transparent !important;
            }
        }
    }
     .left_content{
         position: absolute;
         top: 0;
         bottom: 0;
         background-position: top center;
     }
}
.consult-two-achivement{
    padding: 120px 0;
    @media (max-width: 767.98px){
        padding: 64px 0;
    }
    .right_img{
        border-radius: 10px
    }
    .achivement_img{
        @include transition-box;
        &:hover{
            transform: translateY(-10px);
        }
    }
}
.consult-two-tabs{
    .s_tabs_nav{
        .nav-pills{
            .nav-item{
                .nav-link{
                    font-size: 14px;
                    font-weight: 700;
                    border-radius: 6px 6px 0 0;
                    line-height: 1 !important;
                    padding: 15px;
                    margin-left: 10px;
                }
                .nav-link.active{
                    background: $primary;
                    color: #fff;
                }
                .nav-link:not(.active){
                    background: #eae9f4;
                    color: unset;
                }
            }
        }
    }
    .s_tabs_content{
        border-radius: 20px;
        box-shadow: 0 10px 20px 0 rgba(2, 0, 40,0.1);
        background-color: #fff;
        .expert_img{
            object-fit: cover;
            border-radius: 20px 0 0 20px;
        }
        .details{
            padding: 15px 48px; 
            @media (max-width: 767px){
                padding: 15px;
            }          
        }
    }
}
.consult-two-counter{
    background-color: #f3f2f8;
    .counter1{
        color: #5749ff;
    }
    .counter2{
        color: #ff49ec;
    }
    .counter3{
        color: #28ba85;
    }
    .counter4{
        color: #fd914f;
    }
}
.consult-two-success{
    .carousel-indicators{
        width: fit-content;
        margin: 0;
        bottom: -100px;
        @media (max-width: 767px){
            bottom: 0;
            left: unset;
            right: 0;
        } 
        li{
            width: 12px !important;
            height: 12px !important;
            border-radius: 50% !important;
            
        }
        li.active{
            border: 2px solid rgba(255, 255, 255, 1) !important;
        }
        li:not(.active){
            border: 2px solid rgba(255, 255, 255, 0.4) !important;
            background-color: transparent !important;
        }
    }
}
.editor_enable{
    .consult-two-success{
        .carousel-control-prev,.carousel-control-next{
            height: fit-content;
        }
    }
}
.consult-two-casestudy{
    padding: 120px 0;
    @media (max-width: 767.98px){
        padding: 64px 0;
    }
    .s_tabs_nav{
        .nav-pills{
            .nav-item{
                .nav-link{
                    padding: 12px 20px;
                    line-height: 1;
                    border-radius: 0 !important;
                    font-weight: 700 !important;
                }
                .nav-link.active{
                    background: #fff;
                    box-shadow: 0 10px 30px 0 rgba(2, 0, 40,0.1);
                    color: $primary;
                }
                .nav-link:not(.active){
                    background: transparent;
                    // color: #4a4960;                
                }
            }
        }
    }
    .s_tabs_content{
        .casestydy_content{
            margin-bottom: 15px;
            min-height: 300px;
            overflow: hidden;
            border-radius: 10px;
            background-position-x: center;
            background-position-y:top; 
            @include transition-box;
            .o_we_bg_filter{
                opacity: 0;
                border-radius: 10px;
                @include transition-box;
            }
            .detail1{
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                @include transition-box;
            }
            .detail2{
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(0);
                @include transition-box;
            }
            .add_btn{
                position: absolute;
                border: 2px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                bottom: 30px;
                right: 24px;
                transform: translateX(calc(100% + 24px));
                color: #ffffff;
                @include transition-box;
                i,span{
                    padding: 21px;
                }
                &:hover{
                    background-color: #ffffff;
                    border-color: #ffffff;
                    color: #490ebe;
                    i{
                        
                        
                    }
                }
            }
            &:hover{
                .o_we_bg_filter{
                    opacity: 1;
                }
                .detail1{
                    transform: translateY(0);
                }
                .detail2{
                   transform: translateY(100%);
                }
                .add_btn{
                    transform: translateX(0);
                }
            }
        }
    }
}
.editor_enable{
    .consult-two-casestudy{
        .s_tabs_content{
            .casestydy_content{
                overflow: visible !important;
                .o_we_bg_filter{
                    visibility: visible !important;
                }
                .detail1{
                    transform: translateY(0) !important;
                }
                &:hover{
                    
                    .detail2{
                       transform: translateY(0) !important;
                    }
                    .add_btn{
                        transform: translateX(0) !important;
                    }
                }

                
            }
        }
    }
}