.consult-three-banner{
    padding: 120px 0 120px 0;
    @media (max-width: 767px){
        padding: 64px 0 64px 0;
    }
    .welcome_text{
        background-color: rgba(70,54,255,.1);
        border-radius: 6px;
        color: $primary;
    }
    .o_masonry_col{
        img{
            max-width: fit-content !important;
            min-width: 30px !important;
        }
    }
}
.consult-three-services{
    padding: 120px 0;
    @media (max-width: 1198px){
        padding:0 0 120px 0;
    }
    @media (max-width: 767px){
        padding:0 0 64px 0;
    }
    .service_row{
        margin-left: -2px !important;
        margin-right: -2px !important;
        .service_col{
            padding: 2px !important;
            .service_content{
                .service_title{
                    a{
                        transition: 00.2s;
                        color: unset;
                        &:hover{
                            color: $primary
                        }
                    }
                }
                .service_img{
                    transition: 0.2s;
                }
                &:hover{
                    box-shadow: 0 20px 20px 0 rgba(3,0,53,0.06);
                    .service_img{
                        transform: translateY(-10px);        
                    }            
                }
            }
        }
    }
    
}
.consult-three-profit{
    padding: 120px 0;
    @media (max-width: 767px){
        padding: 64px 0;
    }
    .profit_icon{
        line-height: 1;
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 10px 30px 0 rgba(8, 2 ,46,0.1);
    }
    .knowledge{
        padding: 88px 0;
        @media (max-width: 767px){
            padding: 48px 0;
        }
        background-color: #f8f8f8;
        border-radius: 10px;
    }
}
.consult-three-prepared{
    padding: 120px 0;
    @media (max-width: 767px){
        padding: 64px 0;
    }
    .prepared_item{
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 60px 60px 30px 60px;
        @media (max-width: 1198px){
            padding: 30px;
        }
        
        .prepared_item_num{
            width: fit-content;
            border-radius: 50%;
            background: transparent;          
            width: 40px;
            height: 40px;
            transition: 00.2s;
            .prepared_item_num_text{
                color: $primary;
            }
        }
        .prepared_title{
            a{
                color: unset;
                transition: 00.2s;
                &:hover{
                    color: $primary;
                }
            }
        }
        &:hover{
            .prepared_item_num{
                background-color: $primary;
                .prepared_item_num_text{
                    color: #ffffff;
                }
            }
        }
    }
}
.consult-three-faq{
    padding: 0 0 120px 0;
    @media (max-width: 767px){
        padding: 0 0 64px 0;
    }
    .right_content{
        background-image: url('/theme_nextbiz/static/src/img/consult-three-faq-bg.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 48px 24px;
    }
    .s_faq_collapse{
        .card{
            margin-bottom: 20px;
            border: unset;
            border-radius: 10px !important;
            box-shadow: 0 10px 30px 0 rgba(3, 0 ,53,0.1);
            .card-header{               
                font-size: 18px;
                font-weight: 700;
                background-color: #ffffff;
                border: unset;
                position: relative;
                padding: 15px 40px 15px 23px !important;
                
            }
            .card-header.collapsed{
                // color: unset !important;
            }
            .card-header:not(.collapsed){
                color: $primary;
            }
            .card-header.collapsed:before{
                content: "\e61a" !important;
                font-family: 'themify' !important;
                position: absolute;
                right: 23px;
                color: #6C757D !important;
            }
            .card-header:before{
                content: "\e622" !important;
                font-family: 'themify' !important;
                position: absolute;
                right: 23px;
                color: #490ebe !important;
            }
            .collapse{
            
            }
            .card-body{
                line-height: 26px;
                padding: 0 70px 30px 30px !important;
            }
        }
    }
}