@include media-breakpoint-only(md){
	.blured-bg.active:after {
    	z-index: 1029 !important;
	}
	#oe_main_menu_navbar{
		z-index: 1029 !important;
	}
}

#vouge-header-new-3 {
	
	//mobile sidebar menu scss starts
	> .sidebar-wrapper{
		.sidebar-content{
			.card{
				.card-header{
					background-color: $primary !important;

					.navbar-brand{
						margin-left: 15px !important;
						vertical-align: middle;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(md){
		> .sidebar-wrapper{
			display: block !important;
		}
	}
	
	@include media-breakpoint-up(lg){
		> .sidebar-wrapper{
			display: none !important;
		}
	}
	//mobile sidebar menu scss ends

	//mega menu scss
	@include media-breakpoint-up(lg){
		.nav-item.position-static{
			position: relative !important;

			div.dropdown-menu{
				width: max-content;
				padding: 1.5rem 3rem;

				> section.s_mega_menu_multi_menus{
					width: max-content;

					.nav-link{
						margin-left: 0;
					}
				}
			}

			div.o_mega_menu{
				margin: 0 !important;
				width: unset !important;
			}
		}
	}

	.navbar-brand{
		margin-right: auto !important;
		margin-left: 30px !important;
		@include media-breakpoint-up(lg){
			padding-left: 8px !important;
		}
	}

	.nav-item.dropend {
		.nav-link{
			> span{
		    	word-break: break-word;
			}
		}
		a.nav-link.dropdown-toggle::after {
		    content: "\f105";
		    font-family: 'FontAwesome';
		    border: 0 !important;
		    //margin-right: 30px;
		    float: right;
		}
		.dropdown-menu{
			//left: 118%;
			border-radius: 0 !important;
		    width: fit-content;
		    bottom: unset;
		    margin-left: 0;

	        display: block !important;
	    	opacity: 0;
	    	visibility: hidden;

	    	overflow-x: visible !important;
			overflow-y: visible !important;

			
			li{
				line-height: 33px;
				border-bottom: 1px solid #303030;
				> a {
					color: #b7b7b7 !important;

					&:hover{
	    				background-color: #ffffff0d !important;
						color: $primary !important;
					}
				}
				&:last-child {
					border-bottom: 0;
				}
			}

			.nav-item{
				.dropdown-menu{
				    .dropdown-item{
				    	> span {
							text-transform: capitalize;
				    	}
				    }
				}
			}
		}
		ul.dropdown-menu,div.js_usermenu{
	    	border-left: 0;
	    	border-top: 4px solid $primary;
			background-color: #232323;
		}
		&:hover{
			> .dropdown-menu{
		    	opacity: 1;
	    		visibility: visible;

			}
			transition: 0.3s;
			-webkit-transition: 0.3s;
		}
	}

	padding: 0 !important;
	position: unset;
	//overflow: scroll;

	> #top_menu_container{
		flex-direction: column;
		//overflow: scroll;
		//margin-top: 1rem;

		#show-sidebar{
			margin-right: 30px;
		}
	}

	#top_menu_collapse{
		#top_menu{
			> .nav-item{
				> .nav-link{
					margin-left: 30px;
					margin-right: 30px;
				}
				.nav-link{
				    font-weight: 500;
					text-transform: capitalize;
					color: #316e63;

					&:hover{
						color: $primary !important;
					}
				}


				.dropdown-menu{

				}
			}
			.more-item ul.dropdown-menu{
				.nav-link{
				    padding: 0.25rem 1.5rem;
					margin-left: 0;
					
					.dropdown-toggle{
						&:after{
							margin-right: 0;
						}
					}
				}
				a.nav-link.dropdown-toggle::after {
				    margin-right: 0px !important;
				}
				overflow: auto !important;

				&::-webkit-scrollbar{
					display: none;
				}
			}
		}

		#oe_structure_header_sidebar_1{
			.s_text_block{
				.s_share{
					margin-left: 30px;
					a .rounded-circle{
						&:hover{
							background-color: $primary;
							color: #fff;
							transform: translateY(-5px);
							transition: 0.3s;
							-webkit-transition: 0.3s;
						}
					}
				}
				
				.sidebar_contact{
					margin-left: 30px;
					small{
						a{
							&:hover{
								text-decoration: unset !important;
							}
						}
					}
				}
				
			}
		}
		.login_nav{
			#o_logout_divider{
				display: none;
			}
			//margin-left: 30px;
			.nav-item{
				.nav-link{
					margin-left: 30px;
					margin-right: 30px;
					padding-left: 0;
				}
			}
			small{
				margin-left: 30px;
			}
			.dropdown-menu{
				a.dropdown-item {
					color: #b7b7b7 !important;

					&:first-child{
						border-bottom: 1px solid #303030;
					}
					&:hover{
	    				background-color: #ffffff0d !important;
						color: $primary !important;
					}
				}
				
			}
		}
	}
}

.fa.rounded-circle{
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
}
@include media-breakpoint-up(lg){
	#wrapwrap > header .navbar .dropdown-menu {
	    position: absolute !important; 	
	}
}
/*
#wrapwrap > header{
	li.nav-item.dropdown.o_extra_menu_items{
		> ul{
		   	overflow: visible !important;
	    	padding: 0;

	    	li.dropdown{
	    		ul.dropdown-menu{
	    			position: static !important;
	    		}
	    	}
		}
	}
}
*/