header #oe_structure_header_contact_1,
#vouge-header-new-1 {
  .dropdown {
    .nav-link.dropdown-toggle {
      display: flex;
      align-items: center;
      &:after {
        content: "\f107" !important;
        font-family: "FontAwesome";
        vertical-align: middle;
        border: 0 !important;
      }
    }
  }
  .dropdown.show {
    &:hover {
      .nav-link.dropdown-toggle {
        &:after {
          transform: rotate(180deg);
          transition: 0.4s;
          -webkit-transition: 0.4s;
        }
      }
    }
  }
  .o_extra_menu_items {
    .nav-link {
      &:after {
        display: none !important;
      }
    }
    .fa {
      line-height: 22px;
    }
  }
  .js_language_selector {
    span {
      font-size: 16px;
    }
    .dropdown-toggle {
      background-color: transparent !important;
      color: $secondary !important;
      display: flex;
      align-items: center;
      &:after {
        content: "\f107" !important;
        font-family: "FontAwesome";
        vertical-align: middle;
        border: 0 !important;
      }
    }
  }
}
/*
.o_connected_user{
	header{
		#oe_structure_header_contact_1{
			.login_nav{
				display: block !important;
			}
		}
	}
}
*/
#oe_structure_header_contact_1 {
  &:hover {
    box-shadow: none;
  }

  .top-header {
    .navbar-brand {
      vertical-align: middle;
    }
    .top-header-contact {
      ul {
        li.nav-item {
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px;

          .nav-link {
            padding: 5px !important;
            text-decoration: none;
            .contact-icon {
              .icon {
                font-size: 25px;
                line-height: 50px;
                color: $primary;
                font-weight: 700;
              }
            }
            .contact-data {
              text-align: left;
              .text {
                margin-bottom: 0 !important;
                font-weight: 600;
              }
            }
          }

          &:hover {
            .contact-icon {
              transform: translate(0px, -10px);
              transition: 0.4s;
              -webkit-transition: 0.4s;
            }
          }

          &:last-child {
            border-left: 1px dashed $primary;
          }
        }
      }
    }
    .header-media {
      align-items: center;
      a.link {
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
        // color: #5a5a5a;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          margin: auto;
          background-color: $primary;
          transform-origin: bottom center;
          -webkit-transform-origin: bottom center;
          -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
          -webkit-transition: transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85);
          transition: transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85);
          z-index: -1;
        }
        &:hover {
          color: #fff !important;

          &:before {
            transform-origin: top center;
            -webkit-transform-origin: top center;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
          }
          transition: 0.4s;
        }
      }
      li.nav-item {
        list-style-type: none;
      }
      a.dropdown-toggle {
        padding: 0 !important;
        .user_img {
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-top: 0 !important;
          margin-left: 5px;
          padding: unset !important;
        }
        &:before {
          display: none !important;
          transform-origin: unset !important;
          transform: unset !important;
        }
        &:hover {
          &:before {
            transform-origin: unset !important;
            transform: unset !important;
          }
        }
      }
      /*
			@include media-breakpoint-between(lg, xl) {
				a.link{
			    	height: 25px;
				    width: 25px;
				    line-height: 25px;
			    }
			}
			*/
      @include media-breakpoint-up(lg) {
        .row {
          margin-right: 0;
          margin-left: 0;
        }
      }

      
    }
    border-bottom: 1px solid #e9e9e9;
    padding: 7px 0px;
    //background-color: #fff;
  }

  .top-header {
    .top-header-contact {
      ul {
        li.nav-item {
          margin-right: 15px;
        }
      }
    }
  }
}

#vouge-header-new-1 {
  .bottom-header {
    .header_left {
      .mobile-sidebar-toggle {
      }
      #bizople-header-new1 {
        .nav {
          .nav-item {
            margin-right: 24px;
            @include media-breakpoint-down(md) {
              margin-right: 12px;
            }

            .nav-link {
              padding: 18px 0px !important;
              position: relative;
              //color: #000;

              &:hover:before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $primary;
                position: absolute;
                left: 0;
                top: 0px;
              }
            }
            .dropdown-toggle {
              &:hover:before {
                display: none;
              }
            }
          }
          .o_extra_menu_items {
            i {
              &:before {
                content: "\f107" !important;
              }
            }
            ul.dropdown-menu {
              margin-top: 0;
              right: 0;
              width: fit-content;
              overflow: visible;
              border-radius: 0 !important;
              display: block !important;
              opacity: 0;
              visibility: hidden;
            }
            ul.dropdown-menu-right {
              right: unset !important;
              left: 0 !important;
            }
            &:hover {
              i {
                transform: rotate(180deg);
                transition: 0.4s;
                -webkit-transition: 0.4s;
              }
              .dropdown-menu {
                opacity: 1;
                visibility: visible;
              }
            }
            &.show > ul > li + li {
              border-top: 0 !important;
            }
          }
        }
      }
    }
    .header_right {
      .s_btn {
        .btn {
          border-radius: 0;
          padding: 15px 20px;
          width: 100%;
          font-size: 15px;

          &:hover {
            background-color: $secondary;
          }
        }
      }
    }
    //background-color: #fff;
  }
}

@include media-breakpoint-up(md) {
  .o_header_is_scrolled {
    #oe_structure_header_contact_1 {
      display: none !important;
    }
  }
}
