.search-box{
	.close-btn{
		.search-text{
		    font-size: 18px;
    		font-weight: 500;
		    color: #000;
		}
		.close-text {
			.fa{
			    font-size: 20px;
			    margin-left: 5px;
			}
			cursor: pointer;
			font-size: 12px;
		    text-transform: uppercase;
		    letter-spacing: 3.2px;
		    font-weight: 700;
		    float: right;
    		line-height: 25px;
    		color: #000000;
		    transition: 0.2s;
		    -webkit-transition: 0.2s;
		    &:hover{
		    	color: $primary;
		    }
		}
		margin-bottom: 40px;
	}
	.container{
		a.nav-link{
			input.search-query{
			    border-radius: 0;
		        border: 0;
			    padding: 0;
			    line-height: 50px;
			    width: 100%;
			    color: #000;
			    font-size: 40px;
			    font-weight: 500;
			    border-bottom: 2px solid #000;
			    padding-bottom: 20px;
			    box-shadow: none;
			}
			button.oe_search_button {
			    border: none;
			    padding: 0;
			    border-radius: 0;
		        box-shadow: none;
		        background-color: transparent;
			    color: #000000;
			    position: absolute;
			    z-index: 4;
			    right: 0;
			    font-size: 25px;
			    line-height: 50px;
			    box-shadow: none;
			    transition: 0.2s;
			    -webkit-transition: 0.2s;
			    &:hover{
			    	color: $primary;
			    }
			}
		}

		.o_wsale_products_searchbar_form{
			.dropdown-menu{
			    height: 400px;
    			overflow: scroll;
			}
		}
		@media (max-width: 767.98px) {
			.close-btn{
				.search-text{
				    font-size: 14px;
				}
				.close-text {
					.fa{
					    font-size: 16px;
					}
					font-size: 11px;
				}
			}
			.container{
				a.nav-link{
					input.search-query{
						font-size: 25px;
					}
				}
			}
		}
		vertical-align: middle;
	    position: relative;
	    top: 15%;
	}
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0,-100%) scale(0,0);
    -moz-transform: translate(0,-100%) scale(0,0);
    -o-transform: translate(0,-100%) scale(0,0);
    -ms-transform: translate(0,-100%) scale(0,0);
    transform: translate(0,-100%) scale(0,0);
    opacity: 0;
    z-index: 1031;
}
.search-box.open{
    -webkit-transform: translate(0,0) scale(1,1);
    -moz-transform: translate(0,0) scale(1,1);
    -o-transform: translate(0,0) scale(1,1);
    -ms-transform: translate(0,0) scale(1,1);
    transform: translate(0,0) scale(1,1);
    opacity: 1;
}



