header #vouge-header-new-2-top,
#vouge-header-new-2 {
  .dropdown {
    .nav-link.dropdown-toggle {
      &:after {
        content: "\f107" !important;
        font-family: "FontAwesome";
        vertical-align: middle;
        border: 0 !important;
      }
    }
  }
  .dropdown.show {
    &:hover {
      .nav-link.dropdown-toggle {
        &:after {
          transform: rotate(180deg);
          transition: 0.4s;
          -webkit-transition: 0.4s;
        }
      }
    }
  }
  .o_extra_menu_items {
    .nav-link {
      height: 100%;
      display: flex;
      align-items: center;
      color: #fff;
      &:after {
        display: none !important;
      }
    }
  }
}
#vouge-header-new-2-top {
  .top-header {
    background-color: $secondary;

    .top-data {
      align-items: center;

      .top-quote-line {
        color: #fff;
      }
      .navbar-nav {
        flex-direction: row;

        .nav-item {
          padding: 7px 9px;

          .link {
            color: #fff;

            &:hover {
              color: $primary;
            }
          }
          .nav-link {
            color: #fff;
          }

          &:last-child {
            padding-right: 0px;
            border-left: 1px solid #fff;

            img {
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
          }
        }

        .menu-language {
          font-size: 20px;
          .btn {
            color: #ffffff !important;
          }
          .dropdown-item.active {
            color: #ffffff !important;
          }
          .dropdown {
            .nav-link.dropdown-toggle {
              > span {
                vertical-align: middle;
              }
              &:after {
                content: "\f107" !important;
                font-family: "FontAwesome";
                vertical-align: middle;
                border: 0 !important;
              }
            }
            .dropdown-menu {
              //display: block !important;
              //opacity: 0;
              //visibility: hidden;
              right: -50px !important;
              left: auto !important;
              position: absolute;
              border-radius: 0;
            }
            &:hover {
              .nav-link.dropdown-toggle {
                &:after {
                  //transform: rotate(180deg);
                  //transition: 0.4s;
                  //-webkit-transition: 0.4s;
                }
              }

              .dropdown-menu {
                //display: block !important;
                //opacity: 1;
                //visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  .middle-header {
    // background-color: #fff;
    .middle-data {
      .header-brand {
        .navbar-brand {
          vertical-align: middle;
        }
      }
    }

    .middle-contact {
      ul {
        list-style-type: none;

        li.nav-item {
          &:hover {
            .contact-icon {
              transform: translate(0px, -10px);
              transition: 0.4s;
              -webkit-transition: 0.4s;
            }
          }
          &:nth-child(2) {
            border-right: 1px dashed $primary;
            border-left: 1px dashed $primary;
          }
          &:last-child {
            .nav-link {
              padding-right: 0px;
            }
          }
          .contact-icon {
            .icon {
              font-weight: 700;
            }
          }
          .contact-data {
            .text {
              font-weight: 600;
            }
          }
        }
      }
    }
    @include media-breakpoint-only(md) {
      .middle-contact {
        li.nav-item {
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            border-left: 1px dashed $primary;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}

#vouge-header-new-2 {
  .bottom-header {
    .dropdown,
    .dropdown-toggle {
      .dropdown-menu {
        //display: block !important;
        //opacity: 0;
        //visibility: hidden;
      }
      &:hover {
        .dropdown-menu {
          //opacity: 1;
          //visibility: visible;
        }
      }
    }
  }
  .bottom-header {
    margin-bottom: -27px;

    .bottom-header-content {
      background-color: $primary;

      .header_left {
        li.nav-item {
          padding: 7px 3px;

          .nav-link {
            color: #fff;
          }
          &:hover {
            background-color: $secondary;
            transition: 0.4s;
            -webkit-transition: 0.4s;

            .contact-icon {
              transform: translate(0px, -10px);
              transition: 0.4s;
              -webkit-transition: 0.4s;
            }
          }
        }
        .o_extra_menu_items {
          i {
            &:before {
              content: "\f107" !important;
            }
          }
          ul.dropdown-menu {
            margin-top: 0;
            right: 0;
            width: fit-content;
            overflow: visible;
            border-radius: 0 !important;
            display: block !important;
            opacity: 0;
            visibility: hidden;
          }
          ul.dropdown-menu-right {
            right: unset !important;
            left: 0 !important;
          }
          &:hover {
            i {
              transform: rotate(180deg);
              transition: 0.4s;
              -webkit-transition: 0.4s;
            }
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
            }
          }
          &.show > ul > li + li {
            border-top: 0 !important;
          }
        }
      }
      .header_right {
        text-align: right;

        a.nav-link {
          span,
          > span.icon {
            color: #fff;
          }
        }
        .dropdown-menu {
          margin-top: 0;
          //display: block !important;
          //opacity: 0;
          //visibility: hidden;
          border-radius: 0 !important;
        }
        .dropdown-toggle {
          padding-right: 11px !important;
          &:after {
            border: 0 !important;
            content: "\f107" !important;
            font-family: "FontAwesome";
            vertical-align: middle !important;
          }
        }
        > div {
          padding-right: 0px !important;
          padding: 5px;
          &:hover {
            .dropdown-menu {
              //opacity: 1;
              //visibility: visible;
            }
            .dropdown-toggle {
              &:after {
                //transform: rotate(180deg);
                transition: 0.4s;
                -webkit-transition: 0.4s;
              }
            }
          }
        }
        .dropdown-menu {
          left: unset !important;
          right: 0;
        }
        .dropdown-toggle::after {
          color: #fff;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .bottom-header-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.o_header_is_scrolled {
  #vouge-header-new-2-top {
    .top-header,
    .middle-header {
      display: none !important;
    }
    .bottom-header {
    }
  }
  #vouge-header-new-2 {
    background-color: $primary;
  }
}
