#website_cookies_bar{
    
    .o_colored_level{
        p{
            font-size:18px;
        }
    }
    .classic{
        .button{
            text-align:end;
    }
        .o_cookies_bar_text_button{
            //padding-right:85px;
            //padding-left:85px;
            display: block;
            margin-bottom: 5px;
    }
        .o_cookies_bar_text_policy{
            //padding-right: 60px;
            font-size: 16px;
            display: block;
            //margin-top: 20px;
    }
    }
    .popup{
        img{
            max-height: 1.5rem;
        }
        margin-left:30px;
        margin-right:30px;
        background-color:transparent;
        .col-lg-12{
            text-align:center;
        }
        .button{
            text-align:center;
    }
        .o_cookies_bar_text_button{
            //padding-right:85px;
            //padding-left:85px;
            display: inline-block;
    }
        .o_cookies_bar_text_policy{
            //padding-right: 60px;
            display: inline-block;
            font-size: 16px;
    }   
        .cookie_bar_text_secondary{
            margin-right:10px;
            margin-left:10px;
        }
    
    }

    .o_cookies_bar_text_button{
        border-radius: 2px !important;
        position: relative;
        border:2px solid $primary;
        text-transform: uppercase;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

        &:before {
            -webkit-transition:0.5s all ease;
            transition:0.5s all ease;
            position:absolute;
            top:0;
            left:50%;
            right:50%;
            bottom:0;
            opacity:0;
            content:'';
            background-color: #fff;
            z-index:-1;
        }
        &:hover {
            &:before {
              -webkit-transition:0.5s all ease;
              transition:0.5s all ease;
              left:0;
              right:0;
              opacity:1;
            }
        }

        &:hover{
            background-color: transparent;
            //border:2px solid $primary;
            text-decoration: none;
            //border-radius: 2px !important;
            z-index: 1;
            letter-spacing: 0;
            overflow: hidden;
            color: $primary;
            -webkit-transition:0.5s all ease;
            transition:0.5s all ease;
        }
    }

}